@import 'variables';

html *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    height: 100vh;
}

main{
    font-family: $fontFamily;
    margin-top: 3rem;
    text-align: center;

    .logo-div{
        margin: 0 auto;
        margin-top: 4.45rem;
        margin-bottom: 2.5rem;
        width: 57px;
        height: 18px;

        @media screen and (min-width: 1440px) {
            margin-top: 2.3rem;
            margin-bottom: 3.7rem;
            width: 85px;
            height: 18px;
        }

        .logo{
            height: auto;
            width: 100%;
        }
    }

    h1{
        font-size: $fontSize;
        font-weight: 300;
        letter-spacing: 1px;
        margin-bottom: 1rem;

        @media screen and (min-width: 1440px) {
            font-size: 2.9rem;
        }

        span{
            font-weight: 700;
        }
    }

    .suscribe{
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 0px;

        @media screen and (min-width: 1440px) {
            font-size: 1.2rem;
            letter-spacing: 0.5px;
        }
    }
}

form{
    margin-top: 1.8rem;

    @media screen and (min-width: 1440px) {
        margin-bottom: 5.3rem;

    }

    #email{
        border-radius: 26px;
        border: 1px solid $inputBorder;
        display: block;
        margin: 0 auto;
        font-size: 12px;
        height: 20px;
        outline: none;
        padding: 19px;
        width: 280px;

        @media screen and (min-width: 1440px) {
            padding: 28px 28px;
            display: inline-block;
            margin-right: 10px;
            font-size: 16px;
            width: 420px;

        }
    }

    .error{
        color: $error;
        display: none;
        margin-top: 0.5rem;
        font-size: 10px;
    }

    .notify-btn{
        background-color: $btn;
        border-radius: 26px;
        border: none;
        color: #fff;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 0.5px;
        outline: none;
        padding: 12px 0;
        width: 280px;
        margin-top: 1.5rem;

        @media screen and (min-width: 1440px) {
            font-size: 16px;
            margin-top: 0.7rem;
            letter-spacing: 0.2px;
            padding: 20px 10px;
            width: 200px;
        }
    }

    
}

.dashboard-div{

    margin-top: 2rem;


    .dashboard{
        height: 200px;

        @media screen and (min-width: 1440px) {
            height: 390px;
        }
    }
}

footer{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .copy{
        font-size: 10px;
        margin-top: 1.8rem;

        @media screen and (min-width: 1440px) {
            font-size: 12px;
        }
    }

}

.social-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 7.4rem;
    width: 130px;

    @media screen and (min-width: 1440px) {
        margin-top: 4.3rem;
    }

    .social{
       border: 1px solid $btn;
       border-radius: 50%;
       color: $btn;
       height: 28px;
       position: relative;
       width: 28px;
       
       .icon{
             margin-top: 6px;
       }

    }
}