@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");
html * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

main {
  font-family: "Libre Franklin", sans-serif;
  margin-top: 3rem;
  text-align: center;
}

main .logo-div {
  margin: 0 auto;
  margin-top: 4.45rem;
  margin-bottom: 2.5rem;
  width: 57px;
  height: 18px;
}

@media screen and (min-width: 1440px) {
  main .logo-div {
    margin-top: 2.3rem;
    margin-bottom: 3.7rem;
    width: 85px;
    height: 18px;
  }
}

main .logo-div .logo {
  height: auto;
  width: 100%;
}

main h1 {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1440px) {
  main h1 {
    font-size: 2.9rem;
  }
}

main h1 span {
  font-weight: 700;
}

main .suscribe {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0px;
}

@media screen and (min-width: 1440px) {
  main .suscribe {
    font-size: 1.2rem;
    letter-spacing: 0.5px;
  }
}

form {
  margin-top: 1.8rem;
  position: relative;
}

@media screen and (min-width: 1440px) {
  form {
    margin-bottom: 5.3rem;
  }
}

form #email, form #email-error {
  border-radius: 26px;
  border: 1px solid #c2d3ff;
  display: block;
  margin: 0 auto;
  font-size: 12px;
  height: 20px;
  outline: none;
  padding: 19px;
  width: 280px;
}

@media screen and (min-width: 1440px) {
  form #email, form #email-error {
    padding: 28px 28px;
    display: inline-block;
    margin-right: 10px;
    font-size: 16px;
    width: 420px;
  }
}

form #email-error {
  border: 1px solid #ff5263;
}

form .error {
  color: #ff5263;
  display: none;
  margin-top: 0.5rem;
  font-size: 10px;
  position: absolute;
  left: 25%;
  bottom: 45%;
}

@media screen and (min-width: 1440px) {
  form .error {
    bottom: -25%;
    font-size: 12px;
    left: 5%;
  }
}

form .notify-btn {
  background-color: #4f7df3;
  border-radius: 26px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
  outline: none;
  padding: 12px 0;
  width: 280px;
  margin-top: 1.5rem;
}

@media screen and (min-width: 1440px) {
  form .notify-btn {
    font-size: 16px;
    margin-top: 0.7rem;
    letter-spacing: 0.2px;
    padding: 20px 10px;
    width: 200px;
  }
}

.dashboard-div {
  margin-top: 2rem;
}

.dashboard-div .dashboard {
  height: 200px;
}

@media screen and (min-width: 1440px) {
  .dashboard-div .dashboard {
    height: 390px;
  }
}

footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .copy {
  font-size: 10px;
  margin-top: 1.8rem;
}

@media screen and (min-width: 1440px) {
  footer .copy {
    font-size: 12px;
  }
}

.social-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 7.4rem;
  width: 130px;
}

@media screen and (min-width: 1440px) {
  .social-div {
    margin-top: 4.3rem;
  }
}

.social-div .social {
  border: 1px solid #4f7df3;
  border-radius: 50%;
  color: #4f7df3;
  height: 28px;
  position: relative;
  width: 28px;
}

.social-div .social .icon {
  margin-top: 6px;
}

.social-div .social:hover {
  background-color: #4f7df3;
  color: #fff;
  cursor: pointer;
  border: 1px solid #fff;
}
/*# sourceMappingURL=index.css.map */